:root {
  --drab-dark-brown: #383E20ff;
  --cinereous: #A49790ff;
  --charcoal: #3E4E5Fff;
  --dark-moss-green: #3E5223ff;
  --redwood: #B55342ff;
  --silver: #AEACA9ff;
  --sapphire: #3D6588ff;
  --the-knot: #437e92;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', serif;
    margin: 0;
    padding: 0;
}

.white-text-shadow {
    text-shadow: white 0px 0px 10px;
}

/* Navbar */
.spin-please {
    animation: rotation 2s infinite linear;
    transform: scale(0.5, 1);
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}
@-webkit-keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}

.no-scroll {
    overflow: hidden;
  }

/* Mobile Menu */
.navbar-burger .burger-lines span {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
  }
  
  .navbar-burger.active .burger-lines span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
  }
  
  .navbar-burger.active .burger-lines span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-burger.active .burger-lines span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }
  
/* Homepage Scroll Arrow */
.scroll-down-link {    
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation:    fade_move_down 2s ease-in-out infinite;
    animation:         fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform: translate(0, -10px); opacity: 0; }
    50%  { opacity: 1; }
    100% { -webkit-transform: translate(0, 10px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform: translate(0, -10px); opacity: 0; }
    50%  { opacity: 1; }
    100% { -moz-transform: translate(0, 10px); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform: translate(0, -10px); opacity: 0; }
    50%  { opacity: 1; }
    100% { transform: translate(0, 10px); opacity: 0; }
}

.animated-menu-item {
    animation: menuItemsSlideIn 0.5s ease-in-out;
    animation-fill-mode: forwards; /* Keeps the final state after animation */
    opacity: 0; /* Start with opacity 0 */
  }
  
  @keyframes menuItemsSlideIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  
@tailwind base;
@tailwind components;
@tailwind utilities;